* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section.content {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
    font-size: 1.8em;
    margin-top: 20px;
}

p, ul, ol {
    font-size: 1.1em;
    margin-top: 10px;
}

ul, ol {
    margin-left: 20px;
}

.materiaisutilizados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 20px;
}

.materiaisutilizados img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 8px;
}

.image img{

    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 8px;
}

.imageDiagrama img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 1em;
}
